.events {
    background: var(--color-bg1);
    box-shadow: inset 0 0 2rem 0 rgba(0, 0, 0, 0.5);

}

.events__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

.event__cards h2 {
    margin: 0;
}

.event__card {
    background: var(--color-bg2);
    padding: 1.5rem;
    margin: 3rem 0 2rem 0;
    border-radius: 0.6rem;
    transition: var(--transition);
    color: var(--color-white);
}

.event__card:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.event__header {
    display: grid;
    grid-template-columns: 3fr 1.4fr;
    gap: 1rem;
}

.upcoming h4 {
    font-size: 1rem;
    color: var(--color-warning);
}

.past h4 {
    font-size: 1rem;
    color: var(--color-red);
}

.event__header h3 {
    font-size: 1.5rem;
    margin: 0.9rem 0 0;
    line-height: 2.1rem;
    max-height: 4.2rem;   /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}

.event__header em {
    font-size: 0.9rem;
}

.upcoming .event__header span i {
    color: var(--color-warning);
}

.past .event__header span i {
    color: var(--color-red);
}

.event__header img {
    border-radius: 5px;
}

/* ===================== READ MORE BTN ============= */
.event__details {
    position: relative;
    margin: 1.2rem 0 1.2rem 0;
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    line-height: 1.5rem;
}

.event__summary p {
    display: inline;
}

.event__summary {
    max-height: 4.5rem;
    overflow: hidden;
}

.event__summary.toggle {
    max-height: fit-content;
}

.readmore__btn {
    color: var(--color-warning);
    background: var(--color-bg2);
    position: absolute;
    right: 0;
    bottom: 0;
}

.event__summary.hide__readmore~.readmore__btn {
    display: none;
}

.readless-txt,
.event__summary.toggle~.readmore__btn span.readmore-txt {
    display: none;
}

.event__summary.toggle~.readmore__btn span.readless-txt {
    display: block;
}

.event__summary.toggle~.readmore__btn {
    position: relative;
    align-self: flex-end;
}
/* ===================== READ MORE BTN END ============= */

.event__card__bottom {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.speaker__info {
    flex-grow: 1;
}

.speaker__info img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid var(--color-red);
    display: inline;
}

.event__btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.85rem;
    color: var(--color-white);
    text-align: center;
    background-color: var(--color-danger);
}


/* =================== events_asid============== */

.events_btn_container {
    background-color: var(--color-bg2);
    height: fit-content;
    padding: 2rem 1.5rem;
    margin-top: 5.5rem;
    border-radius: 5px;
    position: sticky;
    top: 7rem;
}

.events_btn_container button {
    padding: 0.2rem 0.6rem;
    margin: 0.2rem;
    width: 100%;
    text-align: left;
    background: var(--color-bg1);
    border-radius: 7px;
}

.events_btn_container button:hover {
    background: var(--color-bg);
    color: var(--color-danger);
}

.active {
    border-left: 3px solid var(--color-warning);
    border-bottom: 3px solid var(--color-warning);
    color: var(--color-warning);
}


/* =================== MEDIA QUERIES (TABLETS) ========================= */
@media screen and (max-width: 1024px) {
    .events__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .events_btn_container {
        grid-row: 1;
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 1.5rem;
        top: 4rem;
        box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    }
    
    .events_btn_container button {
        padding: 0.4rem 0.6rem;
        margin: 0;
        text-align: center;
    }
}


/* =================== MEDIA QUERIES (PHONES) ========================= */
@media screen and (max-width: 600px) {
    .events {
        box-shadow: none;
    }

    .events_btn_container {
        grid-template-columns: 1fr;
        gap: 0.5rem;
        position: inherit;
        top: 0;
        box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    }

    .event__card {
        padding: 1rem;
    }

    .speaker__info em {
        font-size: 0.85rem;
    }

    .speaker__info {
        flex: 1 1 100%;
        text-align: center;
        padding: 0.3rem 0;
        border-radius: 10px;
        background: var(--color-bg1);
        border-left: 3px solid var(--color-warning);
        border-right: 3px solid var(--color-warning);
    }

    .event__card__bottom {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .event__btn{
        flex-grow: 1;
        padding: 0.7rem 1rem;
    }

    .footer_line {
        height: 5px;
        background: var(--color-bg);
    }

    .event__header {
        grid-template-columns: 1fr;
    }

    .event__header img {
        grid-row: 1;
    }

    .event__card h3{
        font-size: 1.4rem;
        margin: 0.5rem 0 0.5rem;
        line-height: 2rem;
        max-height: fit-content;
    }
    
    .event__card h4{
        margin-top: 0.8rem;
    }
    
    .event__details {
        margin: 0.8rem 0 1rem 0;
    }
}