/* ======================== FAQs ====================== */
.faqs {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}

.faq h2 {
    font-size: 1rem;
    line-height: 2.2rem;
    margin-bottom: 0;
    text-align: left;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq p a {
    text-decoration: underline;
}

.faq.open p {
    display: block;
}



/* =================== MEDIA QUERIES (TABLETS) ========================= */

@media screen and (max-width: 1024px) {
    /* ============================ FAQs ============================== */
    .faqs__container {
        grid-template-columns: 1fr;
    }
}


/* =================== MEDIA QUERIES (PHONES) ========================= */
@media screen and (max-width: 600px) {
    /* ================================ FAQs =================== */
    .faqs__container {
        gap: 0.5rem;
    }
}