{{ define "customCSS" }}
<link rel="stylesheet" href="/css/sponsors.css">
<style>
    body {
        background-image: url("https://purna135.github.io/pymcon-test/images/bg-texture.png");
    }
</style>
{{ end }}

{{ define "customSection" }}
<!-- ============================== START OF HEADER ===================== -->
<header class="small__header">
    <div class="container small__header__container">
        <div class="small__header__left">
            <h1>{{ .Params.Title }}</h1>
            <p>{{ .Params.Description }}</p>
        </div>

        <div class="small__header__right">
            <div class="small__header__right-image">
                <img src="/images/support.svg" alt="">
            </div>
        </div>
    </div>
</header>
<!-- ============================== END OF HEADER ===================== -->



<!-- ================================== START OF SPONSORS DESCRIPTION ============================== -->
<section class="section sponsors" id="sponsors">
    <div class="container sponsors__container">
        <div class="sponsors__left">
            <h2> Become a Sponsor </h2>
            <p>
                By contributing to PyMCon, first and foremost that supports the open source project. <a
                    href="https://opencollective.com/pymc" target="_blank"> PyMC is a non-profit</a> through NumFOCUS
                and contributions are tax-deductible.
            </p>
            <p>
                It also <strong> establishes your brand as a forward-looking leader in open source and the data science
                    space.</strong> PyMC users are highly skilled software engineers, data scientists, and
                statisticians, and sought after in the market and thus are ideal candidates for any company.
            </p>
            <a href="https://docs.google.com/document/d/1aztGeCLTGUig8i6ZGtt_SEn2fVwthEMoSJ_ScBzhldg/" class="btn"
                target="_blank"> Learn More </a>
        </div>

        <div class="sponsors__right">
            <article class="sponsor_details">
                <span class="sponsor_details_icon"><i class="uil uil-megaphone"></i></span>
                <h3>BRANDING</h3>
                <p> Invest in your brand equity by supporting the community of developers and open source maintainers.
                </p>
            </article>

            <article class="sponsor_details">
                <span class="sponsor_details_icon"><i class="uil uil-award"></i></span>
                <h3>TALENT ATTRACTION</h3>
                <p> Connect with engineers, analysts, and data scientists at the forefront of machine learning,
                    statistics, and artificial intelligence. </p>
            </article>

            <article class="sponsor_details">
                <span class="sponsor_details_icon"><i class="uil uil-microphone"></i></span>
                <h3>THOUGHT LEADERSHIP</h3>
                <p> Demonstrate your company’s leadership and innovation chops in front of the brightest minds in the
                    business. </p>
            </article>
        </div>
    </div>
</section>
<!-- ================================== END OF SPONSORS DESCRIPTION ============================== -->



<!-- ================================== START OF 2023 SPONSOR ============================== -->
<section class="section subscribe">
    <div class="container subscribe__container">
        <div class="subscribe__text">
            <h2>Become a PyMCon 2023 Sponsor <i class="fas fa-hand-holding-heart"></i></h2>
            <p>
                In addition to sponsorships for the PyMCon series, we are also seeking recurring and longer-term partners to support our open source project and operations year-round. 
            </p>
        </div>
        <a href="{{ ref . "contact" }}" class="btn subscribe__btn">Contact Us</a>
    </div>
</section>
<!-- ================================== END OF 2023 SPONSOR ============================== -->



<!-- ================================== START OF SOCIAL MEDIA REACH ============================== -->
<section class="section social_reach" id="pymcon_social_reach">
    <div class="container social_reach_container">
        <div class="social_reach_left">
            <h3>Sponsorship supports the PyMC project in many ways:</h3>
            <p>
                All donations to PyMC will be used by the project to facilitate development of the codebase,
                documentation or community.
            </p>
            <p>
                Our project roadmap is looking for funding for:
            </p>
            <ul>
                <li>
                    Improving performance and scalability of PyMC
                </li>
                <li>
                    Building better tooling for deploying PyMC models in production environments
                </li>
                <li>
                    Providing better training materials & support
                </li>
                <li>
                    Adding more features in terms of improved inference, visualization, statistical methods
                </li>
                <li>
                    Operational costs such as design (logos), Matomo, GitHub, etc.
                </li>
                <li>
                    Supporting students with stipends for contributions. Examples of student contributions include the
                    Gaussian Processes and ADVI modules.
                </li>
            </ul>
        </div>

        <div class="social_reach_right">
            <table class="social_reach_table">
                <caption><strong>PyMC Social Media Reach (<em>Updated: 2023-02-23</em> )</strong></caption>
                <thead>
                    <tr>
                        <th>Platform</th>
                        <th>Reach</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="https://discourse.pymc.io/about" target="_blank">
                                <i class="uil uil-comment-alt-lines"></i> Discourse Q&A/Discussion
                            </a>
                        </td>
                        <td>33,200+ posts <br>
                            3,100 users
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ .Site.Author.twitter }}" target="_blank">
                                <i class="uil uil-twitter"></i> Twitter
                            </a>
                        </td>
                        <td>5012 followers</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ .Site.Author.linkedin }}" target="_blank">
                                <i class="uil uil-linkedin-alt"></i> LinkedIn
                            </a>
                        </td>
                        <td>1221 followers</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ .Site.Author.youtube }}" target="_blank">
                                <i class="uil uil-youtube"></i> YouTube
                            </a>
                        </td>
                        <td>1,750 subscribers <br>
                            57,650+ views
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ .Site.Author.meetup }}" target="_blank">
                                <i class="fa fa-meetup"></i> Meetup
                            </a>
                        </td>
                        <td>419 members</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ .Site.Author.github }}" target="_blank">
                                <i class="uil uil-github"></i> GitHub
                            </a>
                        </td>
                        <td>7300 stars</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- ================================== END OF SOCIAL MEDIA REACH ============================== -->



<!-- ================================== START OF PyMCon Sponsorship Levels ============================== -->
<section class="section sponsorship_levels" id="pymcon_sponsorship_levels">
    <h2>PyMCon Sponsorship Levels</h2>
    <div class="container">
        <table class="levels_container">
            <tr>
                <th class="hide"></th>
                <th class="bg-purple">No U-Turn Sampler</th>
                <th class="bg-blue">Hamiltonian Monte Carlo</th>
                <th class="bg-red">Metropolis-Hastings</th>
                <th class="bg-green">Conjugate Model</th>
            </tr>
            <tr>
                <td><span class="txt-2">Sponsorship Category</span></td>
                <td><span class="txt-2"><a href="{{ ref . "contact" }}">Contact us for custom sponsorships</a></span></td>
                <td><span class="txt-top">$</span><span class="txt-l">5,000</span></td>
                <td><span class="txt-top">$</span><span class="txt-l">2,000</span></td>
                <td><span class="txt-top">$</span><span class="txt-l">1,000</span></td>
            </tr>
            <tr>
                <td>Tier</td>
                <td><span>Platinum</span></td>
                <td><span>Gold</span></td>
                <td><span>Silver</span></td>
                <td><span>Bronze</span></td>
            </tr>

            <tr>
                <td>Top billing logo positioning on YouTube thumbnail</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td><i class="fa fa-remove"></i></td>
            </tr>
            <tr>
                <td>Sponsor webinar with Q&A</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td><i class="fa fa-remove"></i></td>
                <td><i class="fa fa-remove"></i></td>
            </tr>
            <tr>
                <td>Logo on the <a href="https://www.pymc.io/welcome.html" target="_blank"> PyMC main website </a>(for 6
                    months)</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-remove"></i></td>
            </tr>
            <tr>
                <td>Share job postings on PyMC social media (Twitter, LinkedIn)</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td>Logo on the PyMCon website (Ordered by tier)</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
<!-- ================================== END OF PyMCon Sponsorship Levels ============================== -->

<!-- ================================== START OF 2023 SPONSORS LOGOS ============================== -->
<section class="section our_sponsors" id="pymcon_sponsors">
    <h1>PyMCon 2023 Sponsors</h1>
    <hr>
    <div class="container our_sponsors__container">
        <div id="hamiltonian-monte-carlo-tier">
            <h2>Hamiltonian Monte Carlo</h2>
            <div class="sponsor_logo">
                <a href="https://www.mistplay.com/" target="_blank">
                    <img src="/images/sponsors_logos/mistplay2_white.png" alt="Mistplay logo">
                </a>
            </div>
            <div class="sponsor_logo">
                <a href="https://odsc.com/california/?utm_source=pymc&utm_medium=referral" target="_blank">
                    <img src="https://github.com/pymc-devs/brand/blob/main/sponsors/sponsor_logos/odsc/odsc_white.png?raw=true" alt="ODSC logo">
                </a>
            </div>
        </div>

        <div id="nonprofitsponsor">
            <h2>Non-profit Sponsors</h2>
            <div class="sponsor_logo">
                <a href="https://numfocus.org/" target="_blank">
                    <img src="/images/sponsors_logos/num_focus_logo.jpg" alt="NumFOCUS logo">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ================================== END OF 2023 SPONSORS LOGOS ============================== -->

<!-- ================================== START OF 2020 SPONSORS LOGOS ============================== -->
<section class="section our_sponsors" id="pymcon_sponsors">
    <h1>PyMCon 2020 Sponsors</h1>
    <hr>
    <div class="container our_sponsors__container">
        <div id="metropolis-hastings-tier">
            <h2>Metropolis-Hastings Tier</h2>
            <div class="sponsor_logo">
                <a href="https://tidelift.com/" target="_blank">
                    <img src="/images/sponsors_logos/tidelift_primary_logo.jpg" alt="Tidelift logo">
                </a>
            </div>
            <div class="sponsor_logo">
                <a href="https://point72.com/" target="_blank">
                    <img src="/images/sponsors_logos/p72_main_logo.jpg" alt="Point72 logo">
                </a>
            </div>
            <div class="sponsor_logo">
                <a href="https://pymc-labs.io/" target="_blank">
                    <img src="/images/sponsors_logos/pymc_labs_logo.jpg" alt="PyMC Labs logo">
                </a>
            </div>
        </div>

        <div id="communitypartner">
            <h2>Community Partners</h2>
            <div class="sponsor_logo">
                <a href="http://ghana.pyladies.com/" target="_blank">
                    <img src="/images/sponsors_logos/pyladies_ghana_logo.jpg" alt="Pyladies Ghana logo">
                </a>
            </div>
        </div>

        <div id="techpartner">
            <h2>Technology Partners</h2>
            <div class="sponsor_logo">
                <a href="https://zulip.com/" target="_blank">
                    <img src="/images/sponsors_logos/zulip_org_logo.jpg" alt="Zulip logo">
                </a>
            </div>
        </div>

        <div id="nonprofitsponsor">
            <h2>Non-profit Sponsors</h2>
            <div class="sponsor_logo">
                <a href="https://numfocus.org/" target="_blank">
                    <img src="/images/sponsors_logos/num_focus_logo.jpg" alt="NumFOCUS logo">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ================================== END OF 2020 SPONSORS LOGOS ============================== -->
{{ end }}