<!-- ================================== START OF FOOTER ============================== -->
<footer class="footer">
    <div class="container footer__container">
        <div class="footer__1">
            <div class="footer__logo">
                <a href="{{ "" | relLangURL }}">
                    <img src="/images/pymcon_logo_white.png" alt="">
                </a>
            </div>
            <p>
                PyMCon is a totally volunteer run conference with help from people like you.
            </p>
        </div>

        <div class="footer__2">
            {{/* Footer menu */}}
            {{ if .Site.Menus.main }}
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    {{ range .Site.Menus.footer }}
                        <li><a href="{{ .URL }}"> {{ .Name }} </a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>

        <div class="footer__3">
            <h4>Follow Us</h4>
            <ul class="footer__socials">
                <li><a href="{{ .Site.Author.discourse }}"><i class="uil uil-comment-alt-lines"></i></a></li>
                <li><a href="{{ .Site.Author.twitter }}"><i class="uil uil-twitter"></i></a></li>
                <li><a href="{{ .Site.Author.linkedin }}"><i class="uil uil-linkedin-alt"></i></a></li>
                <li><a href="{{ .Site.Author.youtube }}"><i class="uil uil-youtube"></i></a></li>
                <li><a href="{{ .Site.Author.github }}"><i class="uil uil-github"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        <small>{{.Site.Params.copyright | emojify}}</small>
    </div>
</footer>
<!-- ================================== END OF FOOTER ============================== -->