{{ define "customCSS" }}
    <link rel="stylesheet" href="/css/home.css">
    <style>
        body {
            background-image: url("/images/bg-texture.png");
        }
    </style>
{{ end }}

{{ define "customSection" }}
    <!-- ============================== START OF HEADER ===================== -->
    <header class="header">
        <div class="container header__container">
            <div class="header__left">
                <h1>{{.Site.Params.heading}}</h1>
                <p>{{ .Site.Params.subHeading }}</p>
                <p>{{ .Site.Params.description }}</p>
                <a href="{{ ref . "cfp" }}" class="btn btn-primary">Submit a Proposal</a>
            </div>

            <div class="header_right">
                <div class="rocket">
                    <img src="./images/pymc-logo-350.png" alt="">
                </div>
                <div class="pulse">
                    <span style="--delay:1;"></span>
                    <span style="--delay:2;"></span>
                    <span style="--delay:3;"></span>
                    <span style="--delay:4;"></span>
                </div>
            </div>
        </div>
    </header>
    <!-- ============================== END OF HEADER ===================== -->



    <!-- ========================== START OF GOALS ========================== -->
    <section class="section golas">
        <div class="container golas__container">
            {{ $goals := .Site.Data.goals }}
            <div class="golas__left">
                <h2> {{$goals.title}} </h2>
                <p>  {{$goals.description}} </p>
                <a href="{{ ref . "about" }}" class="btn"> Learn More </a>
            </div>

            <div class="golas__right">
                {{ range $goals.goal }}
                    <article class="goal">
                        <span class="goal__icon"><i class="uil uil-crosshair"></i></span>
                        <h3> {{ .title }} </h3>
                        <p> {{ .description }} </p>
                    </article>
                {{ end }}
            </div>
        </div>
    </section>
    <!-- ========================== END OF GOALS ========================== -->




    <!-- ================================== START OF KEYNOTE SPEAKERS ============================== -->
    <!--
    <section class="section speakers">
        {{ $speakers := .Site.Data.incoming_talks}}
        <h2> {{ $speakers.title}} </h2>
        <div class="container speakers__container">
            <div class="swiper speakerSlider">
                <div class="swiper-wrapper">
                    {{ range $speakers.incoming_talk }}
                        <article class="speaker swiper-slide">
                            <div class="iframe__container">
                                <img src="{{ .imgPath }}" alt="">
                            </div>
                            <div class="speaker__info">
                                <h4> {{ .title }} </h4>
                                <div class="speaker__description">
                                    <p> {{ .shortDescription }} </p>
                                </div>
                                <a href="{{ .readMoreURL }}" class="btn btn-primary">Learn more</a>
                            </div>
                        </article>
                    {{ end }}
                </div>
                <div class="swiper-pagination speaker-pagination"></div>
            </div>
        </div>
    </section>
    -->
    <!-- ================================== END OF KEYNOTE SPEAKERS ============================== -->



    <!-- ================================== START OF SPONSORS ============================== -->
    {{ if .Site.Params.enableSponsors | default false }}
    <section class="section sponsors" id="sponsors">
        {{ $sponsors := .Site.Data.sponsors}}
        <h2>{{ $sponsors.title }}</h2>
        <div class="container sponsors__container">
            <div class="swiper logoSlider">
                <div class="swiper-wrapper">
                    {{ range $sponsor := $sponsors.sponsor}}
                        <div class="sponsor swiper-slide" id="{{ replace $sponsor.name " " "_" }}">
                            <div class="sponsor-logo">
                                <a href="{{ $sponsor.url }}">
                                    <img src="{{ $sponsor.logoPath }}" alt="logo of {{ $sponsor.name }}">
                                </a>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="swiper-pagination logo-pagination"></div>
    </section>
    {{ end }}
    <!-- ================================== END OF SPONSORS ============================== -->



    <!-- ================================== START OF SUBSCRIBE ============================== -->
    <section class="section subscribe">
        <div class="container subscribe__container">
            <div class="subscribe__text">
                <h2>Join the PyMC Discourse to stay updated</h2>
                <p> Other than this website the place to stay updated is the PyMC Discourse.
                    All the latest announcements will be shared there
                </p>
            </div>
            <a href="{{ .Site.Author.discourse }}" class="btn subscribe__btn">Take me to the Discourse</a>
        </div>
    </section>
    <!-- ================================== END OF SUBSCRIBE ============================== -->


    <!-- ================================== START OF support INFO ============================== -->
    <section class="section supports" id="donate_support">
        <h2> Support/Donations </h2>
        <p> The donations will be handled by NumFOCUS which is 501(c)(3) non profit and manages all finances for PyMC </p>
        <div class="container supports__container">
            <article class="support">
                <span class="support__icon"><i class="fas fa-hand-holding-heart"></i></span>
                <h3> PyMC Open Collective </h3>
                <span class="support__info">Payment Options:</span>
                <p> Credit Card </p>
                <span class="support__info">Pros:</span>
                <p> Your company name appears as a donor</p>
                <a href="https://opencollective.com/pymc" target="_blank" class="donate__btn">Donate Now</a>
            </article>

            <article class="support">
                <span class="support__icon"><i class="fas fa-parachute-box"></i></span>
                <h3> NumFOCUS </h3>
                <span class="support__info">Payment Options:</span>
                <p> Credit Card, eCheck, PayPal </p>
                <span class="support__info"> Pros: </span>
                <p> Your name appears in annual report </p>
                <a href="https://numfocus.org/donate-to-pymc" target="_blank" class="donate__btn">Donate Now</a>
            </article>

            <article class="support">
                <span class="support__icon"><i class="fas fa-handshake"></i></span>
                <h3> Benevity </h3>
                <p> If your company uses Benevity, please consider making a contribution to the PyMC project. </p>
                
                <p> <span class="support__info"> Note: </span> This link is viewable for registered users of Benevity </p>
                <a href="https://causes.benevity.org/causes/840-454547709/project/4M4BXZF5F1" target="_blank" class="donate__btn">Donate Now</a>
            </article>

            <article class="support">
                <span class="support__icon"><i class="fas fa-gift"></i></span>
                <h3> Support </h3>
                <p> You can also support the PyMC project by purchasing swag from our official store. All net proceeds go to the project. </p>
                <a href="https://numfocus.myspreadshop.com/pymc+official+logo?idea=61f03c1df33f941d0307b965" target="_blank" class="donate__btn">Buy Now</a>
            </article>
        </div>
    </section>
    <!-- ================================== END OF support INFO ============================== -->


{{ end }}


{{ define "customJS" }}
    <!-- ================== ANIMATION ==================== -->
    <script src="./js/animation_script.js"></script>

    <script src='https://kit.fontawesome.com/8ec3c26a24.js' crossorigin='anonymous'></script>

    <!-- =============== SWIPER SLIDER =============== -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- =============== SPONSORS SLIDER LOGIC ================ -->
    <script>
        var swiper = new Swiper(".speakerSlider", {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: false,
            autoplay: {
                delay: 3500,
                disableOnInteraction: true,
            },
            pagination: {
                el: ".speaker-pagination",
                clickable: true,
            },

            // when windows width is >= 600px
            breakpoints: {
                // for Tablate
                600: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                // for Desktop
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
            }
        });

        var swiper = new Swiper(".logoSlider", {
            slidesPerView: 2,
            spaceBetween: 10,
            loop: false,
            autoplay: {
                delay: 1500,
                disableOnInteraction: true,
            },
            pagination: {
                el: ".logo-pagination",
                clickable: true,
            },

            // when windows width is >= 800px
            breakpoints: {
                // for Tablate
                600: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                // for Desktop
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 30,
                },
            }
        });
    </script>
{{ end }}